body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 45px;

  background: #111827;
  border-bottom: 1px solid #1e293b;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT */

.left {
  display: flex;
  align-items: center;
  gap: 45px;
}

/* LOGO */

.logo {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: -2px;
  cursor: pointer;
}

.logo .m {
  color: white;
}

.logo .s {
  color: #7c3aed;
}

/* MENU */

.menu {
  display: flex;
  gap: 28px;
}

.menu a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 18px;
  font-weight: 500;
  transition: 0.25s;
  position: relative;
}

.menu a:hover {
  color: white;
}

.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;
  background: #7c3aed;

  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

/* AUTH */

.auth {
  display: flex;
  gap: 12px;
}

.auth a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.25s;
}

/* LOGIN */

.login {
  border: 1px solid #334155;
  color: white;
}

.login:hover {
  background: #1e293b;
}

/* REGISTER */

.register {
  background: linear-gradient(135deg, #7c3aed, #9333ea);
  color: white;
}

.register:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(124, 58, 237, 0.35);
}