body {
  background: #0f172a;
  color: #e2e8f0;
}

/* контейнер */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* заголовки */
.section-title {
  margin: 20px 0;
  font-size: 22px;
}

/* горизонтальный скролл */
.horizontal-scroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* карточка */
.card {
  background: #020617;
  border-radius: 12px;
  padding: 10px;
  min-width: 180px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* текст карточки */
.card-info {
  padding: 5px;
}

.card-info h3 {
  font-size: 14px;
}

.card-info p {
  font-size: 12px;
  color: gray;
}

.card-info a {
  color: #38bdf8;
  text-decoration: none;
}

/* колонка */
.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.column {
  background: #020617;
  padding: 10px;
  border-radius: 10px;
}

.column h3 {
  margin-bottom: 10px;
}

/* маленькие карточки */
.mini-card {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.mini-card img {
  width: 50px;
  border-radius: 6px;
}

.mini-card p {
  margin: 0;
  font-size: 13px;
}

.mini-card span {
  font-size: 11px;
  color: gray;
}