<div class="popular-page">

  <h1>🔥 Top 10 Most Popular Manga Worldwide</h1>
  <p>The highest rated manga chosen by fans worldwide.</p>

  <p *ngIf="loading" class="loading-text">
    Loading popular manga...
  </p>

  <p *ngIf="error" class="error-text">
    {{ error }}
  </p>

  <div class="grid" *ngIf="!loading && !error">

    <div class="card" *ngFor="let manga of mangas">

      <a [routerLink]="['/manga', manga.slug]">

        <img [src]="manga.image">

        <h2>{{ manga.title }}</h2>

        <div class="rate">⭐ {{ manga.rating }}</div>

      </a>

    </div>

  </div>

</div>